html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

video,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}

figure,
figure > div {
  margin: 0;
  padding: 0;
  height: 360px;
}

fieldset {
  border: none;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#contact_modal {
  display: none;
  background: rgba(196, 196, 196, 40%);
  z-index: 100;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem;
  background-color: #fafafa;
  padding: 2rem 1.5rem;
}

.photograph-header img {
  order: 1;
  height: 80px;
  width: 80px;
  border-radius: 50% 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 25%);
}

.photograph-header div {
  order: 2;
  margin: 0 1.5rem 1.5rem 1.5rem;
  width: calc(100% - 8rem);
}

.photograph-header button {
  order: 3;
  display: block;
  flex-grow: 1;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0;
}

.photograph-header p {
  color: #901c1c;
  font-size: 1.25rem;
  margin: 0 0;
}

.photograph-header p + p {
  color: #525252;
  font-size: 1rem;
}

.photograph-header span {
  color: #757575;
  font-size: 0.5625rem;
}

.photograph-header a {
  text-align: center;
  text-decoration: none;
}

/* Photograph content */
.photograph-content {
  margin: 0 1rem;
}

.photograph-content__filter {
  position: relative;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contact_button {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  padding: 1.25rem 0.75rem;
  border: none;
  background-color: #901c1c;
  border-radius: 4px;
  cursor: pointer;
}

/* Gallery */
.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem 2rem;
  margin-bottom: 4rem;
}

.gallery figure {
  position: relative;
}

.gallery figure a {
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.gallery__card img {
  overflow: hidden;
  display: block;
  width: 100%;
  border-radius: 4px 4px;
  transition: transform 0.3s;
}

.gallery__card img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.gallery__card h2 {
  margin: 0 0;
  color: #901c1c;
  font-size: 1.5rem;
  display: inline-block;
}

.gallery__card figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.gallery__card figcaption > div {
  display: inline-block;
}

.gallery__card figcaption > div > span {
  font-size: 1.5rem;
  color: #901c1c;
}

.gallery__card figcaption button {
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.gallery__card figcaption button.liked {
  color: #901c1c;
}

.gallery__card figcaption button:hover {
  cursor: pointer;
}

.gallery .gallery__card--video::before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  color: #901c1c;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery .gallery__card--video::after {
  content: "";
  z-index: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.gallery .gallery__card--video::before,
.gallery .gallery__card--video::after {
  cursor: pointer;
}

/* Aside */
aside {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #db8876;
  color: black;
}

aside p {
  margin: 0;
}

/* Modal */
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 90%;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 1rem;
  margin: auto;
  animation: modalIn 0.5s;
  transition: opacity 0.3s;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: initial;
  align-items: flex-start;
  padding: 2rem 0;
}

.modal header button {
  cursor: pointer;
  display: block;
}

.modal .contact_button {
  width: 100%;
}

.modal header h2 {
  font-size: 2.5rem;
  line-height: 48px;
  text-align: left;
  font-weight: normal;
  margin-top: 0;
}

.modal .modal-close-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal .modal-close-btn::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.5rem;
}

form textarea {
  min-height: 10rem;
}

/* Filter media */
.dropdown {
  top: 0px;
  z-index: 10;
  position: relative;
  max-width: 170px;
  width: 270px;
  background-color: #901c1c;
  margin-left: 1rem;
  padding: 0 0.75rem;
  border-radius: 4px 4px;
}

.dropdown.open {
  border-radius: 4px 4px 0 0;
}

.dropdown.open .dropdown__content {
  display: block;
}

.dropdown.open li {
  position: relative;
}

.dropdown.open li button::before {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  border-top: 1px solid #fff;
}

.dropdown button {
  display: flex;
  background-color: transparent;
  color: #fff;
  font-size: 1.125rem;
  width: 100%;
  border: none;
  padding: 1rem 0 1rem 1rem;
  text-align: left;
}

.dropdown button:hover {
  cursor: pointer;
}

.dropdown button span:first-child {
  flex-grow: 4;
}

.dropdown__content {
  position: absolute;
  display: none;
  z-index: 1000;
  list-style: none;
  background-color: #901c1c;
  width: 100%;
  left: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown__content .dropdown__content button:hover {
  cursor: pointer;
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox h2 {
  font-size: 1.5rem;
}

.lightbox .modal {
  background-color: white;
  width: 90%;
}

.lightbox figure {
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  /* padding: 5rem 5rem 1rem 5rem; */
  overflow: hidden;
}

.lightbox figure img,
.lightbox figure video {
  max-height: 900px;
  width: 100%;
  height: 100%;
  animation: lightboxIn 0.5s;
}

.lightbox figcaption {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 1rem;
  color: #901c1c;
}

.lightbox__close {
  z-index: 1000;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.lightbox__previous,
.lightbox__next {
  z-index: 1000;
  position: absolute;
  top: 50%;
  border-radius: 0.5rem;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.lightbox__previous:hover,
.lightbox__next:hover {
  opacity: 1;
}

.lightbox__close {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.lightbox__next {
  right: 1.5rem;
}

.lightbox__previous {
  left: 1.5rem;
}

.lightbox__next::before,
.lightbox__previous::before,
.lightbox__close::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  color: #fff;
}

.lightbox__next::before {
  content: "\f054";
}

.lightbox__previous::before {
  content: "\f053";
}

.lightbox__close::before {
  content: "\f00d";
}

.lightbox__next,
.lightbox__previous,
.lightbox__close:hover {
  cursor: pointer;
}

.lightbox button {
  background-color: transparent;
  border: none;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 6rem 2rem;
  }

  .gallery figure div {
    overflow: hidden;
    border-radius: 4px;
  }

  .gallery__card img {
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 4px 4px;
    transition: transform 0.3s;
  }

  .gallery__card img:hover,
  .gallery__card video:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .gallery__card h2 {
    margin: 0 0;
    color: #901c1c;
    font-size: 1.5rem;
    display: inline-block;
  }

  .gallery__card figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .gallery__card figcaption > a {
    display: inline-block;
  }

  .gallery__card figcaption > a > span {
    font-size: 1.5rem;
    color: #901c1c;
  }

  .gallery__card figcaption button {
    padding: 0.75rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
  }

  .gallery__card figcaption button.liked {
    color: #901c1c;
  }

  .gallery__card figcaption button:hover {
    cursor: pointer;
  }

  /* Aside */
  aside {
    justify-content: initial;
    width: fit-content;
    font-size: 1.5rem;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  main,
  header {
    margin: 0 auto;
    max-width: 1600px;
  }

  .photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin: 0 100px;
    padding: 3.5rem 3.125rem;
  }

  .photograph-header p {
    color: #901c1c;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  .photograph-header p + p {
    color: #525252;
    font-size: 1.125rem;
  }

  .photograph-header span {
    color: #757575;
    font-size: 0.5625rem;
  }

  .photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50% 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 25%);
  }

  .photograph-header a {
    text-align: center;
    text-decoration: none;
  }

  .photograph-content {
    margin: 0 100px;
  }

  .photograph-content__filter {
    position: relative;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  /* Aside */
  aside {
    float: right;
  }

  /* Photograph header */
  .photograph-header {
    flex-wrap: initial;
    justify-content: space-between;
    align-items: center;
  }

  .photograph-header img {
    order: 3;
    height: 200px;
    width: 200px;
  }

  .photograph-header div {
    order: 1;
    margin: 0;
    width: initial;
  }

  .photograph-header button {
    order: 2;
    display: block;
    flex-grow: initial;
  }

  .photograph-header h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
  }
  /* Gallery */
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem 6rem;
  }

  /* Lightbox */
  .lightbox .modal {
    width: 60%;
  }

  .lightbox .lightbox__figure {
    width: 90%;
  }

  .lightbox__previous,
  .lightbox__next {
    z-index: 1000;
    position: absolute;
    top: 50%;
    border-radius: 0.5rem;
    transform: translateY(-50%);
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
  }

  .lightbox__previous:hover,
  .lightbox__next:hover {
    opacity: 1;
  }

  .lightbox__close {
    padding: 0.5rem;
    border-radius: 0.5rem;
    right: 0.75rem;
    top: 0.75rem;
  }

  .lightbox__next {
    right: 0.75rem;
  }

  .lightbox__previous {
    left: 0.75rem;
  }

  .lightbox__next::before,
  .lightbox__previous::before,
  .lightbox__close::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.5rem;
    color: #901c1c;
  }

  /* Modal */
  .modal {
    width: 70%;
  }

  .modal header h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .modal .contact_button {
    width: initial;
  }
}
/* XLarge and up */
@media screen and (min-width: 75em) {
  /* Modal */
  .modal {
    width: 50%;
  }
}
